@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2e3643;
    color: white;
  }

  .drawer {
    background-color: #2e3643;
    color: white;
  }

  .liner {
    background-color: rgb(98, 110, 123);
    border: none;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: whitesmoke;
    color: #334;
  }

  .drawer {
    background-color: white;
    color: #2e3643;
  }

  .liner {
    background-color: rgb(109, 120, 131);
    border: none;
  }
}